<div id="container">
  <div class="cuadro">
    <ion-segment [(ngModel)]="segmentValue">
      <ion-segment-button value="mis-datos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="experiencia">
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segmentValue">
      <app-mis-datos *ngSwitchCase="'mis-datos'"></app-mis-datos>
      <app-experiencia-laboral *ngSwitchCase="'experiencia'"></app-experiencia-laboral>
      <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
    </div>
  </div>
</div>