<form [formGroup]="expForm">
  <ion-item>
    <ion-label position="floating">Empresa</ion-label>
    <ion-input formControlName="empresa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Año inicio</ion-label>
    <ion-input type="number" formControlName="anioInicio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>¿Actualmente trabaja aquí?</ion-label>
    <ion-checkbox slot="end" formControlName="actual"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="!expForm.value.actual">
    <ion-label position="floating">Año término</ion-label>
    <ion-input type="number" formControlName="anioTermino"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cargo</ion-label>
    <ion-input formControlName="cargo"></ion-input>
  </ion-item>
  <div class="botones-row">
    <ion-button color="primary" (click)="guardar()" type="button">Guardar</ion-button>
    <ion-button color="medium" (click)="expForm.reset()" type="button">Limpiar</ion-button>
  </div>
</form>